<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="Fast-food-fast, food delivery app">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=yes">
  <title>Fast Food Fast Admin - Menus</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav class="nav">
    <div class="brand">
        <a href="/admin/orders">Fast-Food-Fast Admin.</a>
    </div>
    <div class="nav-left">
        <a href="/admin/orders" class="nav-item">Orders</a>
        <a href="/admin/orders/history" class="nav-item">History</a>
        <a href="/admin/menus/create" class="nav-item">Add Menu</a>
        <a href="/admin/logout" class="nav-item">Admin (Logout)</a>
    </div>
  </nav>
  <div class="content">
    <div class="orders">
      <h4>Fast-Food-Fast Restaurant.</h4>

      <div class="menu">
        MENU LIST
      </div>

      <div class="order-item">
        <div class="order-image">
          <img src="{{ url_for('static', filename='images/default.png') }}" alt="default image">
        </div>
        <div class="order-content">
          <div class="title">Sea Food - <span class="price">15,000 UGX</span> </div>
          <div class="description">
            All Sea Foods served with chillie.
          </div>
          <p><small class="date">Date Created: 2018-09-10 13:43:34 - By: Manzede</small></p>
        </div>
      </div>

      <div class="order-item">
        <div class="order-image">
          <img src="{{ url_for('static', filename='images/default.png') }}" alt="default image">
        </div>
        <div class="order-content">
          <div class="title">Local Food - <span class="price">7,500 UGX</span> </div>
          <div class="description">
            All Food served with Beef, Beans, G-Nuts.
          </div>
          <p><small class="date">Date Created: 2018-09-10 13:43:34 - By: Manzede</small></p>
        </div>
      </div>

    </div>
  </div>
  <footer>
    <a href="/user/login">Go to User Page.</a>
  </footer>
</body>
</html>
