<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="Fast-food-fast, food delivery app">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=yes">
  <title>Fast Food Fast Admin - Menus</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicons/site.webmanifest') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <nav class="nav">
    <div class="brand">
        <a href="/admin/orders"><span class="logo">3F</span> Fast-Food-Fast Admin.</a>
    </div>
    <div class="nav-left">
        <a href="/admin/orders" class="nav-item">Orders</a>
        <a href="/admin/orders/history" class="nav-item">History</a>
        <a href="/admin/menus" class="nav-item">Menus</a>
        <a href="/admin/menus/create" class="nav-item">Add Menu</a>
        <a href="javascript:void(0);" class="nav-item" onclick="logOut('admin')">Logout</a>
    </div>
  </nav>
  <div class="content">
    <div class="orders">
      <h4>Fast-Food-Fast Restaurant.</h4>
      <div class="menu" id="menu_title"></div>
      <div id="delete_status"></div>
      <span id="show_menu_items"></span>
    </div>
  </div>
  <footer>
    <a href="/user/login">Go to User Page.</a>
  </footer>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
