<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="Fast-food-fast, food delivery app">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=yes">
  <title>Fast Food Fast - Admin Sign Up</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav class="nav">
    <div class="brand">
      <a href="/admin/orders"><span class="logo">3F</span> Fast-Food-Fast Admin</a>
    </div>
    <div class="nav-left">
      <a href="/admin/login" class="nav-item">Sign In</a>
      <a href="/admin/register" class="nav-item">Sign Up</a>
    </div>
  </nav>
  <div class="content">
    <div class="form">
        <form class="signup" method="post" id="sign_up_form">
            <h4>Admin Sign up</h4>
          <div id="register-info"></div>
          <div class="field">
            <label for="firstname">First Name</label>
            <input type="text" name="first_name" id="first_name" placeholder="Manzede">
            <div class="error" id="first_name-error"></div>
          </div>
          <div class="field">
            <label for="lastname">Last Name</label>
            <input type="text" name="last_name" id="last_name" placeholder="Benard">
            <div class="error" id="last_name-error"></div>
          </div>
          <div class="field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="manzede@gmail.com">
            <div class="error" id="email-error"></div>
          </div>
          <div class="field">
            <label for="password">Login Password</label>
            <input type="password" name="password" id="password" placeholder="******" min="6">
            <div class="error" id="password-error"></div>
          </div>
          <div class="field">
            <label for="password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="******" min="6">
            <div class="error" id="confirm_password-error"></div>
          </div>
        <div class="button">
          <button type="submit" class="submit">Sign Up</button>
        </div>
      </form>
      <div class="link">
        <a href="/admin/login">Have an account? Login.</a>
      </div>
    </div>
  </div>
  <footer>
    <a href="/user/login">Go to User Page.</a>
  </footer>
  <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>
