<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="Fast-food-fast, food delivery app">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=yes">
  <title>Fast Food Fast - Order List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav class="nav">
    <div class="brand">
      <a href="/">Fast-Food-Fast Restaurant.</a>
    </div>
    <div class="nav-left">
      <a href="/" class="nav-item">Make Order</a>
      <a href="/user/orders/history" class="nav-item">History</a>
      <a href="/user/login" class="nav-item">Manzede (Logout)</a>
    </div>
  </nav>
  <div class="content">
    <div class="orders">
      <h4>Welcome to Fast-Food-Fast Restuarant.</h4>
      <h6><i>"Your Fastest Food delivery service app"</i></h6>
      
      <div class="menu" id="menu_title"></div>
      <span id="user_show_menu_items"></span>

    </div>
  </div>
  <footer>
    <a href="/admin/login">Go to Admin Page.</a>
  </footer>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
